<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajou.jinwoojeon.median">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/media_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.ajou.jinwoojeon.median.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.ajou.jinwoojeon.median.FirebaseInstanceIDService"
            android:permission="enable">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name=".ui.NavActivity"
            android:screenOrientation="portrait">



        </activity>
        <!--<activity-->
            <!--android:name="com.ajou.jinwoojeon.median.ui.MainActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.ajou.jinwoojeon.median.ui.BoardActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.ajou.jinwoojeon.median.ui.NoticeActivity"-->
            <!--android:screenOrientation="portrait">-->



        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.ajou.jinwoojeon.median.ui.InfoActivity"-->
            <!--android:screenOrientation="portrait" />-->

        <activity
            android:name="com.ajou.jinwoojeon.median.ui.LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.ajou.jinwoojeon.median.ui.BoardWriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ajou.jinwoojeon.median.ui.CommentListActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="com.ajou.jinwoojeon.median.ui.SettingActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.ajou.jinwoojeon.median.ui.LectureActivity"-->
            <!--android:screenOrientation="portrait" />-->

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/media_logo" />

    </application>

</manifest>